@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #e8ebf1;
}

/* ---------- styling calculator */
#container {
    background: #fff;
    height: 400px;
    width: 300px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#display, .buttons {
    width: 100%;
}

#display {
    border: none;
    outline: none;
    height: 50px;
    text-align: right;
    font-size: 24px;
    color: #000e1a;
    background: #fff;
}

.buttons {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.buttons button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    font-size: 18px;
    background-color: #959595;
    color: #ffffff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

#val-zero {
    width: 120px;
    border-radius: 25px;
}

.first-row button {
    background-color: #e5e5e5;
    color: #000e1a;
}

.buttons button:active {
    background-color: #d5d0d0;
}

.buttons button:last-child {
    background-color: rgb(253, 174, 27);
    color: #fff;
}

.buttons button:last-child:active {
    background-color: rgb(232, 153, 5);
}
