@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f8f8f8;
}

/* container */
#container {
    background-color: #fff;
    width: 700px;
    height: 500px;
    border-radius: 3px;
    border: 1px solid rgb(223, 221, 221);
    display: flex;
    flex-direction: column;
}

/* header */
#header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid rgb(223, 221, 221);
}

#insert-user input {
    border: none;
    border-bottom: 1px solid rgb(223, 221, 221);
    padding: 5px;
    outline: none;
    border-radius: 3px;
    margin-right: 3px;
}

#insert-user button {
    padding: 5px;
    border: none;
    cursor: pointer;
    background-color: #959595;
    color: #fff;
    border-radius: 2px;
}

#insert-user button:active {
    background-color: #aeadad;
}

/* calc div */
#calc-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

#calculator {
    height: 400px;
    width: 300px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

#display, .buttons {
    width: 100%;
}

#display {
    border: none;
    outline: none;
    height: 50px;
    text-align: right;
    font-size: 24px;
    color: #000e1a;
    background: #fff;
}

.buttons {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.buttons button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    font-size: 18px;
    background-color: #959595;
    color: #ffffff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

#val-zero {
    width: 120px;
    border-radius: 25px;
}

.first-row button {
    background-color: #e5e5e5;
    color: #000e1a;
}

.buttons button:active {
    background-color: #d5d0d0;
}

.buttons button:last-child {
    background-color: rgb(253, 174, 27);
    color: #fff;
}

.buttons button:last-child:active {
    background-color: rgb(232, 153, 5);
}

/* block */
#block {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.416);
    position: absolute;
    
}

#block label {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.unlock {
    display: none;
}

/* operations */
#data {
    height: 400px;
    width: 300px;
    border: 1px solid rgb(223, 221, 221);
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

#filter {
    display: flex;
    border-bottom: 1px solid rgb(223, 221, 221);
    padding: 10px;
}

#filter input {
    width: 80%;
    border: none;
    border-bottom: 1px solid rgb(223, 221, 221);
    padding: 5px;
    outline: none;
}

#filter select {
    outline: none;
}



#myTable {
    padding: 5px;
    font-size: 13px;
}

#myTable th, tr, td {
    text-align: center;
}
